.technology__description {
    margin-bottom: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .technology__description {
        margin-bottom: 83px;
        font-size: 12px;
        line-height: 18px;
    }
}

@media screen and (max-width: 720px) {
    .technology__description {
        margin-bottom: 50px;
        font-size: 11px;
        line-height: 16px;
    }
}
