.student__foto {
    margin: 0;
    max-width: 270px;
    min-height: 327px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width: 1024px) {
    .student__foto {
        max-width: 255px;
        min-height: 307px;
    }
}
