.intro__title {
    margin-top: 160px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__title {
        margin-top: 350px;
        font-size: 40px;
        line-height: 52px;
    }
}

@media screen and (max-width: 480px) {
    .intro__title {
        margin-top: 220px;
        font-size: 29px;
        line-height: 37px;
        letter-spacing: -0.04em;
    }
}
