.menu-popup__content {
    width: 100%;
    height: 100%;
    margin: 0 0 0 auto;
    max-width: 520px;
    background-color: #202020;
    color: #FFFFFF;
    position: relative;
    box-sizing: border-box;
}
