.about-project__time-container {
    max-width: 1280px;
    margin: 0 70px 110px 70px;
    display: grid;
    grid-template-columns: 228px auto;
    grid-template-rows: 36px min-content;
    border: #ff003b 1px solid;
    grid-row-gap: 14px;
}

@media screen and (max-width: 1024px) {
    .about-project__time-container {
        margin: 0 50px 90px 50px;
        grid-template-columns: 140px auto;
    }
}

@media screen and (max-width: 600px) {
    .about-project__time-container {
        margin: 0 18px 70px 18px;
        grid-template-columns: 100px auto;
        grid-template-rows: 35px min-content;
    }
}
