.header__entry-button {
    margin: 21px 70px 21px auto;
    min-width: 76px;
    min-height: 32px;
    padding: 0;
    border: darkred 1px solid;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    background-color: #3DDC84;
    color: #000000;
    cursor: pointer;
    overflow: hidden;
}

.header__entry-button:hover {
    transition: 1s ease-in;
    opacity: .6;
}
