.film-search {
    margin: 0 auto 0 auto;
    min-height: 217px;
    max-width: 1280px;
    border: #ff003b 1px solid;
}

@media screen and (max-width: 768px) {
    .film-search {
        min-height: 237px;
    }
}

@media screen and (max-width: 480px) {
    .film-search {
        min-height: 238px;
    }
}
