.auth-confirm__container {
    margin: 16px auto 70px auto;
    max-width: 217px;
    min-height: 17px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    border: #ff003b 1px solid;
}

@media screen and (max-width: 480px) {
    .auth-confirm__container {
        margin: 14px auto 30px auto;
    }
}
