.auth-confirm {
    margin: 0 auto 0 auto;
    min-height: 217px;
    max-width: 1280px;
    border: #3DDC84 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .auth-confirm {
        max-width: 768px;
        min-height: 379px;
    }
}

@media screen and (max-width: 480px) {
    .auth-confirm {
        max-width: 320px;
        min-height: 261px;
    }
}
