.auth-confirm__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
}

@media screen and (max-width: 480px) {
    .auth-confirm__text {
        font-size: 12px;
        line-height: 15px;
    }
}
