.footer {
    margin: 0 auto 0 auto;
    padding: 0;
    max-width: 1280px;
    min-height: 172px;
    border: yellow 1px solid;
}

/*@media screen and (min-width: 1281px) {*/
/*    .footer {*/
/*        margin: 0;*/
/*        max-width: 318px;*/
/*        padding-bottom: 60px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 320px) {*/
/*    .footer {*/
/*        margin: 0 8.44vw 0 8.44vw;*/
/*        padding-bottom: 11.25vw;*/
/*    }*/
/*}*/
