.movies__card {
    background-color: #222222;
    max-width: 100%;
    min-height: 271px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .movies__card {
        min-height: 258px;
    }
}

@media screen and (max-width: 720px) {
    .movies__card {
        min-height: 236px;
    }
}
