.scroll-movies__button {
    margin-top: 50px;
    margin-bottom: 80px;
    padding: 0;
    min-width: 320px;
    min-height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border: #424242 1px solid;
    border-radius: 10px;
    background-color: #202020;
    color: #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .scroll-movies__button {
        min-width: 240px;
    }
}
