.footer__copyring {
    margin: 20px 0 20px 0;
    padding: 0;
    align-self: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    border: yellow 1px solid;
}

@media screen and (max-width: 480px) {
    .footer__copyring {
        margin: 0 0 10px 0;
    }
}
