.header-auth__container {
    min-width: 396px;
    border: #ff003b 1px solid;
}

@media screen and (max-width: 480px) {
    .header-auth__container {
        min-width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
