.user-info__link {
    margin-top: 204px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .user-info__link {
        margin-top: 210px;
    }
}

@media screen and (max-width: 480px) {
    .user-info__link {
        margin-top: 379px;
        font-size: 12px;
        line-height: 15px;
    }
}
