.auth-confirm__link {
    margin: 0 0 0 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4285F4;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .auth-confirm__text {
        font-size: 12px;
        line-height: 15px;
    }
}
