.intro__button {
    margin-right: 10px;
    min-width: 96px;
    min-height: 36px;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    background-color: #303030;
    color: #FFFFFF;
    cursor: pointer;
}

.intro__button:last-of-type {
    margin-right: 0;
}

.header__entry-button:hover {
    transition: 1s ease-in;
    opacity: .6;
}
