.movies__card-image {
    margin: 0 auto 0 auto;
    max-width: 100%;
    min-height: 190px;
    object-fit: inherit;
    background-color: #222222;
}

@media screen and (max-width: 720px) {
    .movies__card-image {
        max-height: 168px;
    }
}
