.student__portfolio-link {
    margin: 100px auto 0 70px;
    color: #8B8B8B;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    .student__portfolio-link {
        margin: 91px auto 0 50px;
    }
}

@media screen and (max-width: 600px) {
    .student__portfolio-link {
        margin: 70px auto 0 14px;
    }
}
