.intro__navigation {
    margin: 151px 0 30px 0;
    padding: 0;
    min-height: 36px;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: #ff003b 1px solid;
}

@media screen and (max-width: 768px) {
    .intro__navigation {
        margin-top: 314px;
    }
}

@media screen and (max-width: 480px) {
    .intro__navigation {
        margin: 212px 0 17px 0;
        min-height: 26px;
    }
}
