.header-auth__logo {
    margin-top: 70px;
    max-width: 38px;
    min-height: 38px;
}

@media screen and (max-width: 768px) {
    .header-auth__logo {
        margin-top: 232px;
    }
}

@media screen and (max-width: 480px) {
    .header-auth__logo {
        margin: 56px auto 0 auto;
    }
}
