.not-find-page {
    margin: 0 auto 0 auto;
    max-width: 1280px;
    min-height: 700px;
    border: yellow 1px solid;
}

@media screen and (max-width: 768px) {
    .not-find-page {
        min-height: 1024px;
    }
}

@media screen and (max-width: 480px) {
    .not-find-page {
        min-height: 780px;
    }
}
