.menu-popup__close {
    padding: 0;
    margin: 22px 0 0 466px;
    max-width: 22px;
    min-height: 22px;
    background-position: center;
    background-color: #202020;
    cursor: pointer;
    border: none;
 }

.menu-popup__close:hover {
    transition: 1s ease-in;
    opacity: .6;
}
