.auth-form__container {
    margin: 0 auto 0 auto;
    max-width: 396px;
    padding: 0;
    list-style: none;
    border: #3DDC84 1px solid;
}

@media screen and (max-width: 480px) {
    .auth-form__container {
        max-width: 260px;
    }
}
